* {
	box-sizing: border-box;
	text-align: center;
}
a {
	color: #fff;
	text-decoration: none;
}
aside {
	display: inline;
	width: 150px;	
}
body {
	background-image: url("../images/dark_embroidery.png");
	color: white;
	font-family: 'Arima Madurai', cursive;
}
footer {
	border-top: 1px solid #ccc;
}
h1, h2 {
	font-weight: bolder;
}
h1 {
	font-size: xx-large;
}
h2 {
	font-size: large;
}
nav {
	border-bottom: 1px solid #ccc;
	text-align: left;
	width: 100%;
}
section {
	display: inline;
	float: left;
	padding-bottom: 15px;
	width: 50%;
}
.about-me img {
	float: right;
	width: 75%;
}
.clearfix {
	overflow: auto;
}
.connect img {
	margin: 7px;
	width: 121px;
	-webkit-transition: width 2s;
	transition: width 2s;
}
.connect img:hover {
	width: 200px;
}
.container {
	width: 100%;
}
.content-wrapper {
	background-color: rgba(93, 93, 93, 0.6);
	margin: 0 auto;
	max-width: 768px;
	padding: 15px;
	width: 100%;
	transition: width 1s linear; 
    -webkit-transition: width 1s linear; 
}


@media only screen and (max-width: 768px) {	
	.content-wrapper { 
		background-color: rgba(44, 123, 169, 0.6);	
		width: 75%			
	}
	section {
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	.content-wrapper { 
		background-color: rgba(99, 76, 158, 0.6);	
		width: 75%;	
	}
	.about-me img {
		float: none;
		width: 100%;
	}
}
